doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		include partials/header-b2b.pug

		main

			section.mx-md-4.mx-0
				.container-fluid
					.row
						.col-lg-7
							.hero-card.bg-light-gray.d-flex.flex-column.justify-content-center.rounded-3.px-0.px-sm-5.px-xxl-0
								.hero-text-card.text-center.text-sm-start
									h1.mb-5 Spara mer, skicka smartare med optimerad frakt.
									p.fs-20 Är vi för er? Skickar ditt företag <span class="bg-title-small">50+ paket till konsument dagligen</span> med <span class="bg-title-small">vikt under 5 kg</span> och med totalt <span class="bg-title-small">mått (L+B+H) under 90 cm?</span>
									p.fs-20.text-dark-blue: b Låt oss samarbeta!

						.col-lg-5
							.hero-card.bg-light-gray.d-flex.flex-column.justify-content-end.rounded-3.align-items-center.px-5.px-xxl-0
								.hero-img-card: img(src="images/delivery-man.svg", alt="image").w-100

			section.my-3
				.container
					.bg-light-gray.rounded-3.p-64.p-sm-32
						h2.text-center Enkelt, vi optimerar frakt <br> <span class="text-yellow">Våra kunder sparar i snitt 27%</span>

						.banner.d-flex.flex-column.flex-xxl-row.justify-content-center.align-items-center.pt-32
							img(src="images/banner-1.svg", alt="image").d-none.d-xxl-inline-block
							img(src="images/banner-2.svg", alt="image").d-none.d-xxl-inline-block
							img(src="images/banner-3.png", alt="image").d-none.d-xxl-inline-block
							img(src="images/banner-4.svg", alt="image").d-none.d-xxl-inline-block

							img(src="images/banner-mobile.svg", alt="image").d-inline-block.d-xxl-none

			section.bg-light-gray.pt-64.pb-64
				.container
					.row.align-items-center.flex-column-reverse.flex-md-row
						.col-md-6
							.bg-white.rounded-3.p-64
								img(src="images/placeholder.svg", alt="image")

						.col-md-5.offset-lg-1
							h2.mb-4 Ditt paket är påväg!
							p.fs-18 Vi vet att det är frustrerande att endast få automatmeddelanden och inte kunna svara tillbaka. Hos Hempost gör vi det annorlunda – vi finns här för att svara på dina frågor. Inga mer no-reply adresser, bara snabb service när du behöver det.

			section.pt-80.pb-80
				.container
					h2.mb-64.text-center Vad tycker våra kunder?

					.row
						.col-lg-4.mb-3.mb-lg-0
							.review-card.bg-light-gray.rounded-3.text-center.h-100
								.review-card-img.mb-3.rounded-circle.overflow-hidden.mx-auto: img(src="images/Thomas.png", alt="image").h-100.object-fit-cover
								img(src="images/StreetWorldLogo.svg", alt="image")
								h4.mt-3.mb-2 Thomas Hjert Löfgren
								p.mb-3 Streetworld, VD
								p.mb-0.fs-18.text-dark-blue För vår nylansering så är det viktigt att ta nästa steg för kunden, vi ser att HemPost kan vara en del av det steget.

						.col-lg-4.mb-3.mb-lg-0
							.review-card.bg-light-gray.rounded-3.text-center.h-100
								.review-card-img.mb-3.rounded-circle.overflow-hidden.mx-auto: img(src="images/Thomas2.png", alt="image").h-100.object-fit-cover
								img(src="images/CyberZooLogo.svg", alt="image")
								h4.mt-3.mb-2 Ted Hansen
								p.mb-3 CyberZoo, VD
								p.mb-0.fs-18.text-dark-blue Konkurrensen har alltid varit hård i vår branch kan vi hitta nya samarbeten som både gynnar oss och kund så är vi all-in

						.col-lg-4.mb-3.mb-lg-0
							.review-card.bg-light-gray.rounded-3.text-center.h-100
								.review-card-img.mb-3.rounded-circle.overflow-hidden.mx-auto: img(src="images/Thomas3.png", alt="image").h-100.object-fit-cover
								img(src="images/MontecLogo.svg", alt="image")
								h4.mt-3.mb-2 Linus Hellberg
								p.mb-3 Montec, VD
								p.mb-0.fs-18.text-dark-blue Vi tror alltid på ökad kundupplevelse, kan kunden få snabbare information om försändelsen så är det positivt för oss.

			section.bg-light-gray.pt-64.pb-64
				.container
					.row.align-items-center
						.col-md-6.text-center.text-md-start
							h2.mb-4 Inkludera oss och låt kunden välja!
							p.fs-18 Ta bort eventuell osäkerhet om vi är rätt för er, lägg till HemPost som fraktalternativ och låt era kunder välja HemPost. Win-win - ni erbjuder mer frakt-flexibilitet medans HemPost kan erbjuda en bättre kundupplevelse i form av snabbare svar när er kund har frågor om frakten. 

						.col-md-5.offset-lg-1
							.bg-yellow.rounded-3.py-2.text-center
								img(src="images/mockup.png", alt="image")

			section.pt-64.pb-64
				.container
					.row
						.col-md-6
							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-64.h-100.p-sm-32
								div.text-center.text-md-start
									h2.mb-3 Är vi något för även er?
									p.fs-18 Vi hoppas kunna få vara ett kapitel i er fortsatta resa, låt oss hjälpa er med er framgångsaga. Kontaka oss så kommer vi igång. 

								.offer-img: img(src="images/offer-img.svg", alt="image")

						.col-md-6
							.bg-light-gray.rounded-3.p-64.h-100.p-sm-32.mt-3.mt-md-0
								p.fs-18.mb-32.text-center.text-md-start Lämna kontaktuppgifter nedan så återkommer vi inom kort.

								form(action="#").form
									.form-item
										input(type="email" name="email")
										span.placeholder-item Företags E-post <span>*</span>

									.form-item
										input(type="email" name="email")
										span.placeholder-item Bekräfta företags E-post <span>*</span>

									.form-item
										input(type="text" name="address")
										span.placeholder-item Försändelseadress <span>*</span>

									.form-item
										input(type="text" name="url")
										span.placeholder-item E-handels webbadress

									.form-item
										input(type="text" name="name")
										span.placeholder-item Kontakt namn <span>*</span>

									.form-item
										input(type="phone" name="phone")
										span.placeholder-item Mobilnummer

									.form-item
										.d-flex.align-items-center.gap-2.py-3
											input(type="checkbox").form-check-input
											p.mb-0 Jag har läst och jag accepterar dataskyddspolicyn.

									button(type="submit").btn.btn-primary.btn-lg Send to

			section.pb-80
				.container
					.text-center
						h2.mb-4 Vanliga frågor

					.row.pt-64
						.col-md-4
							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Är paketleveranserna spårbara?
									.icon
										span
										span
								#collapse-1.collapse.p-4 Ja, alla leveranser är spårbara.

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Var levereras mitt spårbara paket?
									.icon
										span
										span
								#collapse-2.collapse.p-4 Direkt hem till brevlådan. Om paketet inte får plats i brevlådan så hängs det i en påse på dörren eller läggs utanför.

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Hur använder man HemPost?
									.icon
										span
										span
								#collapse-3.collapse.p-4
									p PacSort är enkelt att använda.
									
									ol.list-decimal.mb-0
										li Logga in på den webbaserade plattformen.
										li Ladda upp en adress eller en fil, direkt på plattformen eller via API.
										li Välj format och skriv ut era fraktetiketter.
										li Boka upphämtning.
										li Klart.

						.col-md-4
							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Det står att ni ändrar leveranssätt, vad betyder det?
									.icon
										span
										span
								#collapse-4.collapse.p-4 Ibland kan faktorer som väder och vind, att brevbäraren inte hittar dig på angiven adress eller att brevbäraren inte kommer in i din port leda till att brevbäraren inte kan slutföra leveransen. Då lämnas paket över till närmaste ombud och mottagaren meddelas via E-post eller SMS om vart paketet finns att hämtas ut .

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Leveranstider?
									.icon
										span
										span
								#collapse-5.collapse.p-4 1:a klass tar mellan 1-2 arbetsdagar och ekonomi mellan 1-4 arbetsdagar att nå mottagaren.

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Vilka mått får mitt paket ha?
									.icon
										span
										span
								#collapse-6.collapse.p-4
									ul.list-bullet.mb-0
										li Format (L x B x H): 340 x 240 x 70 mm
										li Maxformat (L + B + H): 900 mm.
										li Längsta sidan får ej överskrida 600 mm.
										li Minimiantal: 1 brevlådepaket

						.col-md-4
							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Hur mycket får mitt paket väga?
									.icon
										span
										span
								#collapse-7.collapse.p-4 Max 2 kg

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Vilken storlek får min försändelse ha?
									.icon
										span
										span
								#collapse-8.collapse.p-4 Längden + Bredden + Höjden får maximalt uppgå 90 cm. Den längsta sidan på paketet får ej överskrida 60 cm

							.faq-item.bg-light-gray
								button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9").btn.btn-secondary.px-4.w-100.d-flex.align-items-center
									|Vilka distributörer används?
									.icon
										span
										span
								#collapse-9.collapse.p-4
									ul.list-bullet.mb-0
										li Citymail
										li Postnord
										li EarlyBird
										li Asendia
										li Deutsche Post

			section.pt-80.pb-80.bg-light-gray
				.container
					.row.align-items-center.flex-column-reverse.flex-md-row
						.col-md-6
							.rounded-3.overflow-hidden.mt-3.mt-md-0
								img(src="images/contact.png", alt="image").w-100.object-fit-cover

						.col-md-5.offset-lg-1
							h2.mb-4.text-center.text-md-start Vill du veta mer om HemPost?
							p.fs-18.text-center.text-md-start Kontakta mig redan idag så berättar jag hur du kommer igång.

							.d-flex.gap-3.pt-64.flex-column.flex-md-row
								a(
									href="mailto: admin@hempost.com"
									data-bs-toggle="tooltip" data-bs-placement="top"
									data-bs-custom-class="custom-tooltip"
        							data-bs-title="admin@hempost.com"
								).btn.btn-success.btn-lg Maila Michél

								a(
									href="tel: +45 678 54 32 33"
									data-bs-toggle="tooltip" data-bs-placement="top"
									data-bs-custom-class="custom-tooltip"
        							data-bs-title="+45 678 54 32 33"
								).btn.btn-primary.btn-lg Ring Michél


			section.pt-64.pb-64
				.container
					.d-flex.align-items-center.justify-content-between
						div.text-center.text-md-start.flex-grow-1
							h2 Presscenter
							p.fs-18.mb-0 Här hittar ni de senaste pressmeddelandena och nyheter från Hempost. För material som presskit, företagsinformation och bildarkiv, vänligen kontakta oss via <a href="press@hempost.se" class="text-dark-blue">press@hempost.se</a> för mer information.

						a(href="blog.html").btn.btn-secondary.rounded-3.d-none.d-md-block.flex-shrink-0 Alla nyheter

					.row.mt-32
						.col-md-4.mb-3.mb-md-0
							.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
								.rounded-3.overflow-hidden.cover-post: a(href="blog.html"): img(src="images/post-1.jpg", alt="post-image").w-100.h-100.object-fit-cover
								div
									h4.mb-2: a(href="blog.html").text-decoration-none.text-dark-blue HemPost: Den Bekymmersfria, Plånboksvänliga Revolutionen inom Frakt
									p Låt oss prata om frakt. Du känner till rutinen - du har något att skicka, och vi hoppas att genast dyker HemPost upp i dina tankar...

						.col-md-4.mb-3.mb-md-0
							.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
								.rounded-3.overflow-hidden.cover-post: a(href="blog.html"): img(src="images/post-2.jpg", alt="post-image").w-100.h-100.object-fit-cover
								div
									h4.mb-2: a(href="blog.html").text-decoration-none.text-dark-blue Banar Väg för en Grönare Morgondag inom Logistik
									p Låt oss prata om HemPost, ett namn som surrar inom post- och logistikvärlden. För oss handlar det inte bara om att flytta paket ...

						.col-md-4.mb-3.mb-md-0
							.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
								.rounded-3.overflow-hidden.cover-post: a(href="blog.html"): img(src="images/post-3.jpg", alt="post-image").w-100.h-100.object-fit-cover
								div
									h4.mb-2: a(href="blog.html").text-decoration-none.text-dark-blue HemPost öppnar en ny logistikanläggning i Dublin, Irland
									p Europe, ett dotterbolag till HemPost och världens största expresstransportföretag ...

					.mt-3: a(href="blog.html").btn.btn-secondary.rounded-3.d-block.d-md-none Alla nyheter

		include partials/footer.pug

		include partials/scripts.pug